library/venv/
library/__pycache__/
library/*.pyc
library/*.pyo
library/*.pyd
library/.Python
library/*.log
# library/media/
library/staticfiles/
library/backend_api/migrations/*.py
!library/backend_api/migrations/__init__.py

library-frontend/node_modules/
library-frontend/npm-debug.log*
library-frontend/yarn-debug.log*
library-frontend/yarn-error.log*
library-frontend/package-lock.json
library-frontend/yarn.lock
library-frontend/build/
library-frontend/dist/
library-frontend/.cache/
library-frontend/.next/

.env
.env.local
.env.*.local


.vscode/
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db
*.orig
*~

library/backup.json
library-frontend/trash.txt
