.genreName:hover {
    color: blue;
    cursor: pointer;
    transition: all 300ms;
    transform: scale(1.1);
}


@media (min-width: 270px) {
   .mainDiv {
    width: 250px;
    height: 125px;
    }

    .genreName {
        font-size: 10px;

    }
}

@media (min-width: 315px) {
    .mainDiv {
    width: 300px;
    }
    .genreName {
        font-size: 10px;
    }
}

@media (min-width: 400px) {
    .mainDiv {
    width: 390px;
    }
    .genreName {
        font-size: 13px;
    }
}



@media (min-width: 475px) {
    .mainDiv {
    width: 450px;
    }
    .genreName {
        font-size: 13px;
    }
}



@media (min-width: 576px) {
    .mainDiv {
    width: 560px;
    }
    .genreName {
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .mainDiv {
    width: 750px;
    }
    .genreName {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .mainDiv {
    width: 850px;
    }
    .genreName {
        font-size: 17px;
    }
}

@media (min-width: 1200px) {
    .mainDiv {
    width: 700px;

    }
    .genreName {
        font-size: 17px;
    }
}

@media (min-width: 1400px) {
    .mainDiv {
    width: 900px;
    }
    .genreName {
        font-size: 17px;
    }
}

