.MyBtn {
    all: unset;
    color: rgb(15, 15, 15);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 17px;
}

.MyBtn:hover {
    transition: all 0.5s;
    color: aliceblue;
    background-color: rgb(15, 15, 15);
}

