.searchDiv {
    border-inline: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.favorite {
    all: unset;
}

.favorite:hover {
    text-decoration: underline;
    cursor: pointer;
}

.Input {
    all: unset;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 100%;
}