.Avatar {
    all: unset;
    width: 30px;
    height: 30px;
    background-color: chartreuse;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(234, 231, 231);
}



.ebychiuLink:hover {
    text-decoration: none;
}

.nickname:hover {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}

.profileDiv {
    all: unset;
    display:flex;
    align-items: center;
    justify-content: center;
}