.mainDiv {
    display: flex;
    justify-content: center;
    margin: 7px;
    width: 100%;
}

.link {
    text-decoration: none !important;
}

.link {
    text-decoration: none !important;
}

.content {
    width: 70%;
    position: relative;
}

.lineDiv {
    transition: all 0.5s;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
}

.lineDiv:hover {
    cursor: pointer;
    background-color: rgb(210, 233, 250);
}

.name {
    display: inline;
    padding-inline: 10px;
    font-size: 17px;
}
.username {
    display: inline;
    padding-inline: 10px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.starSVG {
    position: absolute;
    right: 10px;
}










.card {
    width: 250px;
    height: 125px;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
    user-select: none;
}

.info {
    position: absolute;
    top: 30%;
    color: rgb(66, 109, 250);
    font-size: 18px;
    font-weight: 600;
}

.userName {
    top: 5px;
    left: 45%;
    position: absolute;
    font-weight: 900;
    color: rgb(66, 109, 250);
    margin-bottom: 20px;
}
.divInfo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card:hover {
    transition: all 300ms;
    transform: scale(1.05);
    box-shadow: 0 8px 25px;
}